/* 表單 */
*{
	margin: 0;
	padding: 0;
}

.container {
	width:100%;
	height:100%;
}

h2 {
    margin: 50px;
	margin-top: 30px;
}

.section {
	margin: 50px;
}

.file-section {
	margin-top: 50px;
}

.select-row {
	border-color: black;
}

/* 泡泡圖 */
#main{
	width: 80%;
	height:500px;
	margin: 50px;
	margin-bottom: 0;
}

.btn_homepage {
	margin-left: 50px;
}

.percentage {
	text-align: center;
}

.talbe-group {
	width: 100%;
	margin: 0;
	padding: 0;
}

.table-title {
	text-align: center;
}

.talbe-group table {
	display: inline;
}

.table {
	width:100%;
}

#main {
	margin: 0;
}

.subtitle {
	text-align: center;
}

/* rows */
div.dropdown-multicol{
	width: 30em;
  }
  div.dropdown-row>a.dropdown-item{
	display:inline-block;
	width: 32%;
  }
  
  /* Columns */
  div.dropdown-multicol2{
	width: 30em;
  }
  div.dropdown-multicol2>div.dropdown-col{
	display:inline-block;
	width: 32%;
  }
  
