/* 表單 */
*{
	margin: 0;
	padding: 0;
}

.container {
	width:100%;
	height:100%;
}

h2 {
    margin: 50px;
}

.section {
	margin: 50px;
}

.file-section {
	margin-top: 50px;
}

.select-row {
	border-color: black;
}

/* 泡泡圖 */
#main{
	width: 80%;
	height:500px;
	margin: 50px;
	margin-bottom: 0;
}

.btn_homepage {
	margin-left: 50px;
}